{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1>Registration</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    <form action="/registration" method="POST">
        <div class="form-row">
            <div class="col-md-6">
                {% for category, message in messages: %}
                    {% if category == 'firstname': %}
                        <label for="firstname" class="text-danger">{{ message }}</label>
                    {% endif %}
                {% endfor %}
                <input type="text" class="form-control" name="firstname" value="{{ firstname }}" placeholder="First Name">
            </div>

            <div class="col-md-6">
                {% for category, message in messages: %}
                    {% if category == 'lastname': %}
                        <label for="lastname" class="text-danger">{{ message }}</label>
                    {% endif %}
                {% endfor %}
                <input type="text" class="form-control" name="lastname" value="{{ lastname }}" placeholder="Last Name">
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                {% for category, message in messages: %}
                    {% if category == 'birthday': %}
                        <label for="birthday" class="text-danger">{{ message }}</label>
                    {% endif %}
                {% endfor %}
                <input type="date" class="form-control" name="birthday" value="{{ birthday }}" placeholder="Birthday">
            </div>

            <div class="col-md-6">
                {% for category, message in messages: %}
                    {% if category == 'email': %}
                        <label for="email" class="text-danger">{{ message }}</label>
                    {% endif %}
                {% endfor %}
                <input type="text" class="form-control" name="email" value="{{ email }}" placeholder="Email">
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                {% for category, message in messages: %}
                    {% if category == 'password': %}
                        <label for="password" class="text-danger">{{ message }}</label>
                    {% endif %}
                {% endfor %}
                <input type="password" class="form-control" name="password" value="{{ password }}" placeholder="Password">
            </div>

            <div class="col-md-6">
                {% for category, message in messages: %}
                    {% if category == 'confirm_password': %}
                        <label for="confirm_password" class="text-danger">{{ message }}</label>
                    {% endif %}
                {% endfor %}
                <input type="password" class="form-control" name="confirm_password" value="{{ confirm_password }}" placeholder="Confirm Password">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
    {% endwith %}
</div>
{% endblock %}